$white: #ffffff;
$white-48: rgba(255, 255, 255, 0.48);

$black: #000000;
$black-72: rgba(0, 0, 0, 0.72);
$black-56: rgba(0, 0, 0, 0.56);
$black-48: rgba(0, 0, 0, 0.48);
$black-40: rgba(0, 0, 0, 0.4);
$black-32: rgba(0, 0, 0, 0.32);
$black-24: rgba(0, 0, 0, 0.24);
$black-16: rgba(0, 0, 0, 0.16);
$black-8: rgba(0, 0, 0, 0.08);

$blue-dark: #1b2539;
$blue: #1b2539;
$blue-light: #132240;
$purple: #2d2631;
$red: #d84b46;
$yellow: #ffda42;
$yellow-dark: #ffd05e;
$yellow-darker: #c2a532;
$brown: #978a72;
$brown-light: #f0e8d9;
$green-dark: #3e463f;
$green: #455147;
$green-light: #689c71;
$red: #d84b46;
$orange: #e47e48;
$gray-transparent: rgba(77, 83, 89, 0.9);

$blue-gradient: linear-gradient(135deg, $blue-light 0%, $purple 100%);
$yellow-gradient: linear-gradient(135deg, $yellow-dark 0%, $yellow 100%);
$dark-gradient: linear-gradient(180deg, transparent 0%, $black-72 100%);

@mixin color-opacity($color, $opacity: 0.72) {
  color: $color; //fallback
  color: rgba($color, $opacity);
}

@mixin background-opacity($color, $opacity: 0.72) {
  background-color: $color; //fallback
  background-color: rgba($color, $opacity);
}

@mixin border-opacity($color, $opacity: 0.72) {
  border-color: $color; //fallback
  border-color: rgba($color, $opacity);
}

@mixin fill-opacity($color, $opacity: 0.72) {
  fill: $color; //fallback
  fill: rgba($color, $opacity);
}
