.input-icon {
  display: flex;
  align-items: flex-start;
  width: auto;

  > img {
    height: 32px;
    width: 32px;
    flex: 0 0 32px;
    margin-top: 19px;
    margin-left: -8px;
  }

  > div {
    flex: 1;
  }
}
