.signin {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $green-dark;
  width: 100%;
  padding: 40px 40px 24px 40px;

  .logo {
    margin-bottom: 40px;

    img {
      height: 80px;
    }

    h1 {
      color: $green;
      margin-top: 80px;
    }
  }

  form > div {
    margin: 24px auto 16px auto;

    @include not-mobile {
      max-width: 400px;
    }
  }

  .submit {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
